
<br>
<div class="container">
  <div class="row">
    <!--Header-->
    <div class="text-center">
      <h1>{{item['team-1']}} vs {{item['team-2']}}</h1>
      <h4>{{dt | date : 'fullDate'}}</h4>
    </div>
    <br><br><br>
    <!--Base-->
    <div class="text-center">

      <div class="panel panel-default">
        <div class="panel-body">
          <div class="getinline">Score: &nbsp; {{item.score}}</div>
        </div>
      </div>
      <hr>
      <div class="fontinc"><i>Updates: {{item['innings-requirement']}}</i></div>
    </div>
  </div>
</div>

